*{
    box-sizing:border-box;
}
@import url("normalize.css");
/* -------------------- GLOBAL DEFAULTS */

body {
    background-color: #D9C5B4;
}

.topnav {
    background-color:#f6ebe1;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-family: "articulat-cf", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    
  }
  
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2E8DF;
    color: white;
    text-align: center;
    color: black;
    padding: 7px;
    font-family: "articulat-cf", sans-serif;
    font-weight: 200;
    font-style: normal;
}

img {
width: 100%;
padding-top: 40px;
}
 

 
 
 
  

