*{
    box-sizing:border-box;
}
@import url("normalize.css");
/* -------------------- GLOBAL DEFAULTS */

body {
    background-color: #D9C5B4;
}
.topnav {
  background-color:#f6ebe1;
  overflow: hidden;
}
.topnav a {
  float:left;
  color: #000000;
  padding: 16px;
  font-family: "articulat-cf", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.topnav a:hover {
  background-color: #D9C5B4;
  color: rgb(0, 0, 0);
}
.topnav a.active {
  color: D9C5B4;
}
  
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F2E8DF;
    color: white;
    height: 60px;
}
h2 {
  text-align: center;
  color: black;
  font-family: "articulat-cf", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 20px;
}


img {
width: 100%;
padding-top: 40px;
}
 

 
 
 
  

